<div class="hdca-product-box__header-compare">
    <div class="hdca-form-field">
        <div class="hdca-form-field__container">
            <label class="hdca-form-field__wrap-label" for="default-117">
                <div class="hdca-checkbox">
                    <input type="checkbox" id="default-117" name="default-117" class="hdca-checkbox__checkbox" />
                    <span class="hdca-checkbox__faux-checkbox"></span>
                </div>
                <span class="hdca-form-field__label-text">Compare</span>
            </label>
        </div>
    </div>
</div>