<section class="hdca-product-listing">
  <div class="hdca-product-grid">
    <div class="hdca-product-box-container" itemscope="" itemtype="http://schema.org/Product">
      <article class="hdca-product-box">
        <section class="hdca-product-box__header">
          <div class="hdca-product-box__header-compare">
            <div class="hdca-form-field">
              <div class="hdca-form-field__container">
                <label class="hdca-form-field__wrap-label" for="default-117">
                  <div class="hdca-checkbox">
                    <input type="checkbox" id="default-117" name="default-117" class="hdca-checkbox__checkbox" />
                    <span class="hdca-checkbox__faux-checkbox"></span>
                  </div>
                  <span class="hdca-form-field__label-text">Compare</span>
                </label>
              </div>
            </div>
          </div>
          <a href="#" class="hdca-product-box__header-intro">
            <div class="hdca-product-box__header-intro-img-box">
              <img class="hdca-product-box__header-intro-img" src="/assets/images/products/product_1.jpg" alt="can not find image" itemprop="image" />
            </div>
            <div class="hdca-product-box__intro-badges">
              <svg class="hdca-product-box__badge-svg" aria-hidden="true">
                <use xlink:href="/assets/icons/product-en-sprite/svg/symbols.svg#badge-ECO"></use>
              </svg>
              <svg class="hdca-product-box__badge-svg" aria-hidden="true">
                <use xlink:href="/assets/icons/product-en-sprite/svg/symbols.svg#badge-NLP"></use>
              </svg>
              <svg class="hdca-product-box__badge-svg" aria-hidden="true">
                <use xlink:href="/assets/icons/product-en-sprite/svg/symbols.svg#badge-SB"></use>
              </svg>
              <svg class="hdca-product-box__badge-svg" aria-hidden="true">
                <use xlink:href="/assets/icons/product-en-sprite/svg/symbols.svg#badge-ES"></use>
              </svg>
            </div>
          </a>
        </section>
        <section class="hdca-product-box__main">
          <div class="hdca-product-box__main-info">
            <link itemprop="url" href="#" />
            <a href="#" class="hdca-product-box__main-info-label hdca-product-box__main-info-label--link">
              <span class="hdca-product-box__main-info-label-entry hdca-product-box__main-info-label-entry--brand" itemprop="manufacturer">Home Decorators Collection</span>
              <span class="hdca-product-box__main-info-label-entry" itemprop="name">5.2 cu. ft. High-Efficiency Stackable Front-Load Washer in White</span>
            </a>
            <a href="#" class="hdca-product-box__main-info-detail hdca-product-box__main-info-detail--link">
              <div class="hdca-product-box__main-info-detail-entry">Model #
                <span itemprop="model">7L12X165/8045CL</span>
              </div>
              <div class="hdca-product-box__main-info-detail-entry">SKU #
                <span itemprop="sku">1731002612</span>
              </div>
            </a>
            <div class="hdca-product-box__main-info-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
              <a href="#rating" class="hdca-product-box__main-info-rating-link">
                <div class="hdca-product-box__main-info-rating-link-stars">
                  <span class="hdca-product-box__main-info-rating-link-stars-overlay" style="width:60%;"></span>
                </div>
                <meta itemprop="worstRating" content="1" />
                <meta itemprop="ratingValue" content="3" />
                <meta itemprop="bestRating" content="5" />
              </a>
            </div>
          </div>
          <div class="hdca-product-box__main-purchase">
            <div class="hdca-product-box__main-purchase-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <span itemprop="priceCurrency" content="CAD"></span>
              <link itemprop="itemCondition" href="http://schema.org/NewCondition" content="New" />
              <div class="hdca-product-box__main-purchase-price-entry">
                <span class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">$1.97</span>
                <span class="hdca-product-box__main-purchase-price-entry-content"> / sq. ft.</span>
              </div>
              <div class="hdca-product-box__main-purchase-price-entry">
                <span class="hdca-product-box__main-purchase-price-entry-content">$
                  <span itemprop="price">34.00</span> / case</span>
              </div>
              <div class="hdca-product-box__main-purchase-price-entry hdca-product-box__main-purchase-price-entry--savings">
                <time itemprop="priceValidUntil" datetime="2020-11-05"></time>
                <span class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">Save 22%</span>
                <span class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--was"> Was $41.48</span>
              </div>
            </div>
            <div class="hdca-product-box__main-purchase-action hdca-product-box__main-purchase-action--tool-rental">
              <button id="button-1379" class="hdca-button2 hdca-button2--primary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item">
                <span class="hdca-button2__label">Add To Cart</span>
              </button>
            </div>
          </div>
        </section>
      </article>
    </div>
    <div class="hdca-product-box-container" itemscope="" itemtype="http://schema.org/Product">
      <article class="hdca-product-box">
        <section class="hdca-product-box__header">
          <div class="hdca-product-box__header-compare">
            <div class="hdca-form-field">
              <div class="hdca-form-field__container">
                <label class="hdca-form-field__wrap-label" for="default-118">
                  <div class="hdca-checkbox">
                    <input type="checkbox" id="default-118" name="default-118" class="hdca-checkbox__checkbox" />
                    <span class="hdca-checkbox__faux-checkbox"></span>
                  </div>
                  <span class="hdca-form-field__label-text">Compare</span>
                </label>
              </div>
            </div>
          </div>
          <a href="#" class="hdca-product-box__header-intro">
            <div class="hdca-product-box__header-intro-img-box">
              <img class="hdca-product-box__header-intro-img" src="/assets/images/products/product_1.jpg" alt="can not find image" itemprop="image" />
            </div>
          </a>
        </section>
        <section class="hdca-product-box__main">
          <div class="hdca-product-box__main-info">
            <link itemprop="url" href="#" />
            <div class="hdca-product-box__main-info-promo">
              <span class="hdca-product-box__main-info-promo-content">+25% OFF SELECT PRODUCTS</span>
            </div>
            <a href="#" class="hdca-product-box__main-info-label hdca-product-box__main-info-label--link">
              <span class="hdca-product-box__main-info-label-entry hdca-product-box__main-info-label-entry--brand" itemprop="manufacturer">Home Decorators Collection</span>
              <span class="hdca-product-box__main-info-label-entry" itemprop="name">5.2 cu. ft. High-Efficiency Stackable Front-Load Washer in White</span>
            </a>
            <a href="#" class="hdca-product-box__main-info-detail hdca-product-box__main-info-detail--link">
              <div class="hdca-product-box__main-info-detail-entry">Model #
                <span itemprop="model">7L12X165/8045CL</span>
              </div>
              <div class="hdca-product-box__main-info-detail-entry">SKU #
                <span itemprop="sku">1911002432</span>
              </div>
            </a>
            <a href="#" class="hdca-product-box__main-info-placeholder">
              <span class="hdca-product-box__assistive-text">No Rating</span>
            </a>
          </div>
          <div class="hdca-product-box__main-purchase">
            <div class="hdca-product-box__main-purchase-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <span itemprop="priceCurrency" content="CAD"></span>
              <link itemprop="itemCondition" href="http://schema.org/NewCondition" content="New" />
              <div class="hdca-product-box__main-purchase-price-entry">
                <span class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">$
                  <span itemprop="price">34.00</span>
                </span>
                <span class="hdca-product-box__main-purchase-price-entry-content"> / case</span>
              </div>
            </div>
            <div class="hdca-product-box__main-purchase-action hdca-product-box__main-purchase-action--tool-rental">
              <button id="button-1380" class="hdca-button2 hdca-button2--tertiary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item">
                <span class="hdca-button2__label">View Details</span>
              </button>
            </div>
          </div>
        </section>
      </article>
    </div>
    <div class="hdca-product-box-container" itemscope="" itemtype="http://schema.org/Product">
      <article class="hdca-product-box">
        <section class="hdca-product-box__header">
          <div class="hdca-product-box__header-compare">
            <div class="hdca-form-field">
              <div class="hdca-form-field__container">
                <label class="hdca-form-field__wrap-label" for="default-119">
                  <div class="hdca-checkbox">
                    <input type="checkbox" id="default-119" name="default-119" class="hdca-checkbox__checkbox" />
                    <span class="hdca-checkbox__faux-checkbox"></span>
                  </div>
                  <span class="hdca-form-field__label-text">Compare</span>
                </label>
              </div>
            </div>
          </div>
          <a href="#" class="hdca-product-box__header-intro">
            <div class="hdca-product-box__header-intro-img-box">
              <img class="hdca-product-box__header-intro-img" src="/assets/images/products/product_1.jpg" alt="can not find image" itemprop="image" />
            </div>
          </a>
        </section>
        <section class="hdca-product-box__main">
          <div class="hdca-product-box__main-info">
            <link itemprop="url" href="#" />
            <a href="#" class="hdca-product-box__main-info-label hdca-product-box__main-info-label--link">
              <span class="hdca-product-box__main-info-label-entry hdca-product-box__main-info-label-entry--brand" itemprop="manufacturer">Home Decorators Collection</span>
              <span class="hdca-product-box__main-info-label-entry" itemprop="name">5.2 cu. ft. High-Efficiency Stackable Front-Load Washer in White</span>
            </a>
            <a href="#" class="hdca-product-box__main-info-detail hdca-product-box__main-info-detail--link">
              <div class="hdca-product-box__main-info-detail-entry">Model #
                <span itemprop="model">7L12X165/8045CL</span>
              </div>
              <div class="hdca-product-box__main-info-detail-entry">SKU #
                <span itemprop="sku">1661232632</span>
              </div>
            </a>
            <a href="#" class="hdca-product-box__main-info-placeholder">
              <span class="hdca-product-box__assistive-text">No Rating</span>
            </a>
          </div>
          <div class="hdca-product-box__main-purchase">
            <div class="hdca-product-box__main-purchase-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <span itemprop="priceCurrency" content="CAD"></span>
              <link itemprop="itemCondition" href="http://schema.org/NewCondition" content="New" />
              <div class="hdca-product-box__main-purchase-price-entry">
                <span class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">$1.97</span>
                <span class="hdca-product-box__main-purchase-price-entry-content"> / sq. ft.</span>
              </div>
              <div class="hdca-product-box__main-purchase-price-entry">
                <span class="hdca-product-box__main-purchase-price-entry-content">$
                  <span itemprop="price">41.48</span> / case</span>
              </div>
            </div>
            <div class="hdca-product-box__main-purchase-action hdca-product-box__main-purchase-action--tool-rental">
              <button id="button-1381" class="hdca-button2 hdca-button2--tertiary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item">
                <span class="hdca-button2__label">View Details</span>
              </button>
            </div>
          </div>
        </section>
      </article>
    </div>
    <div class="hdca-product-box-container" itemscope="" itemtype="http://schema.org/Product">
      <article class="hdca-product-box">
        <section class="hdca-product-box__header">
          <div class="hdca-product-box__header-compare">
            <div class="hdca-form-field">
              <div class="hdca-form-field__container">
                <label class="hdca-form-field__wrap-label" for="default-120">
                  <div class="hdca-checkbox">
                    <input type="checkbox" id="default-120" name="default-120" class="hdca-checkbox__checkbox" />
                    <span class="hdca-checkbox__faux-checkbox"></span>
                  </div>
                  <span class="hdca-form-field__label-text">Compare</span>
                </label>
              </div>
            </div>
          </div>
          <a href="#" class="hdca-product-box__header-intro">
            <div class="hdca-product-box__header-intro-img-box">
              <img class="hdca-product-box__header-intro-img" src="/assets/images/products/product_1.jpg" alt="can not find image" itemprop="image" />
            </div>
          </a>
        </section>
        <section class="hdca-product-box__main">
          <div class="hdca-product-box__main-info">
            <link itemprop="url" href="#" />
            <a href="#" class="hdca-product-box__main-info-label hdca-product-box__main-info-label--link">
              <span class="hdca-product-box__main-info-label-entry hdca-product-box__main-info-label-entry--brand" itemprop="manufacturer">Home Decorators Collection</span>
              <span class="hdca-product-box__main-info-label-entry" itemprop="name">5.2 cu. ft. High-Efficiency Stackable Front-Load Washer in White</span>
            </a>
            <a href="#" class="hdca-product-box__main-info-detail hdca-product-box__main-info-detail--link">
              <div class="hdca-product-box__main-info-detail-entry">Model #
                <span itemprop="model">7L12X165/8045CL</span>
              </div>
              <div class="hdca-product-box__main-info-detail-entry">SKU #
                <span itemprop="sku">1231002632</span>
              </div>
            </a>
            <div class="hdca-product-box__main-info-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
              <a href="#rating" class="hdca-product-box__main-info-rating-link">
                <div class="hdca-product-box__main-info-rating-link-stars">
                  <span class="hdca-product-box__main-info-rating-link-stars-overlay" style="width:80%;"></span>
                </div>
                <meta itemprop="worstRating" content="1" />
                <meta itemprop="ratingValue" content="3" />
                <meta itemprop="bestRating" content="5" />
              </a>
            </div>
          </div>
          <div class="hdca-product-box__main-purchase">
            <div class="hdca-product-box__main-purchase-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <span itemprop="priceCurrency" content="CAD"></span>
              <link itemprop="itemCondition" href="http://schema.org/NewCondition" content="New" />
              <div class="hdca-product-box__main-purchase-price-entry">
                <span class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">$
                  <span itemprop="price">41.48</span>
                </span>
                <span class="hdca-product-box__main-purchase-price-entry-content"> / case</span>
              </div>
            </div>
            <div class="hdca-product-box__main-purchase-action hdca-product-box__main-purchase-action--tool-rental">
              <button id="button-1382" class="hdca-button2 hdca-button2--tertiary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item">
                <span class="hdca-button2__label">View Details</span>
              </button>
            </div>
          </div>
        </section>
      </article>
    </div>
    <div class="hdca-product-box-container" itemscope="" itemtype="http://schema.org/Product">
      <article class="hdca-product-box">
        <section class="hdca-product-box__header">
          <div class="hdca-product-box__header-compare">
            <div class="hdca-form-field">
              <div class="hdca-form-field__container">
                <label class="hdca-form-field__wrap-label" for="default-121">
                  <div class="hdca-checkbox">
                    <input type="checkbox" id="default-121" name="default-121" class="hdca-checkbox__checkbox" />
                    <span class="hdca-checkbox__faux-checkbox"></span>
                  </div>
                  <span class="hdca-form-field__label-text">Compare</span>
                </label>
              </div>
            </div>
          </div>
          <a href="#" class="hdca-product-box__header-intro">
            <div class="hdca-product-box__header-intro-img-box">
              <img class="hdca-product-box__header-intro-img" src="/assets/images/products/product_1.jpg" alt="can not find image" itemprop="image" />
            </div>
          </a>
        </section>
        <section class="hdca-product-box__main">
          <div class="hdca-product-box__main-info">
            <link itemprop="url" href="#" />
            <a href="#" class="hdca-product-box__main-info-label hdca-product-box__main-info-label--link">
              <span class="hdca-product-box__main-info-label-entry hdca-product-box__main-info-label-entry--brand" itemprop="manufacturer">Home Decorators Collection</span>
              <span class="hdca-product-box__main-info-label-entry" itemprop="name">5.2 cu. ft. High-Efficiency Stackable Front-Load Washer in White</span>
            </a>
            <a href="#" class="hdca-product-box__main-info-detail hdca-product-box__main-info-detail--link">
              <div class="hdca-product-box__main-info-detail-entry">Model #
                <span itemprop="model">7L12X165/8045CL</span>
              </div>
              <div class="hdca-product-box__main-info-detail-entry">SKU #
                <span itemprop="sku">1561002632</span>
              </div>
            </a>
            <a href="#" class="hdca-product-box__main-info-placeholder">
              <span class="hdca-product-box__assistive-text">No Rating</span>
            </a>
          </div>
          <div class="hdca-product-box__main-purchase">
            <div class="hdca-product-box__main-purchase-price">
              <div class="hdca-product-box__main-purchase-price-entry">
                <span class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">-</span>
              </div>
            </div>
            <div class="hdca-product-box__main-purchase-action hdca-product-box__main-purchase-action--tool-rental">
              <button id="button-1383" class="hdca-button2 hdca-button2--tertiary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item">
                <span class="hdca-button2__label">View Details</span>
              </button>
            </div>
          </div>
        </section>
      </article>
    </div>
    <div class="hdca-product-box-container" itemscope="" itemtype="http://schema.org/Product">
      <article class="hdca-product-box">
        <section class="hdca-product-box__header">
          <div class="hdca-product-box__header-compare">
            <div class="hdca-form-field">
              <div class="hdca-form-field__container">
                <label class="hdca-form-field__wrap-label" for="default-122">
                  <div class="hdca-checkbox">
                    <input type="checkbox" id="default-122" name="default-122" class="hdca-checkbox__checkbox" />
                    <span class="hdca-checkbox__faux-checkbox"></span>
                  </div>
                  <span class="hdca-form-field__label-text">Compare</span>
                </label>
              </div>
            </div>
          </div>
          <a href="#" class="hdca-product-box__header-intro">
            <div class="hdca-product-box__header-intro-img-box">
              <img class="hdca-product-box__header-intro-img" src="/assets/images/products/product_1.jpg" alt="can not find image" itemprop="image" />
            </div>
          </a>
        </section>
        <section class="hdca-product-box__main">
          <div class="hdca-product-box__main-info">
            <link itemprop="url" href="#" />
            <a href="#" class="hdca-product-box__main-info-label hdca-product-box__main-info-label--link">
              <span class="hdca-product-box__main-info-label-entry hdca-product-box__main-info-label-entry--brand" itemprop="manufacturer">Home Decorators Collection</span>
              <span class="hdca-product-box__main-info-label-entry" itemprop="name">5.2 cu. ft. High-Efficiency Stackable Front-Load Washer in White</span>
            </a>
            <a href="#" class="hdca-product-box__main-info-detail hdca-product-box__main-info-detail--link">
              <div class="hdca-product-box__main-info-detail-entry">Model #
                <span itemprop="model">7L12X165/8045CL</span>
              </div>
              <div class="hdca-product-box__main-info-detail-entry">SKU #
                <span itemprop="sku">1781002632</span>
              </div>
            </a>
            <a href="#" class="hdca-product-box__main-info-placeholder">
              <span class="hdca-product-box__assistive-text">No Rating</span>
            </a>
          </div>
          <div class="hdca-product-box__main-purchase">
            <div class="hdca-product-box__main-purchase-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <span itemprop="priceCurrency" content="CAD"></span>
              <link itemprop="itemCondition" href="http://schema.org/NewCondition" content="New" />
              <div class="hdca-product-box__main-purchase-price-entry">
                <span class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">$
                  <span itemprop="price">41.48</span>
                </span>
                <span class="hdca-product-box__main-purchase-price-entry-content"> / case</span>
              </div>
            </div>
            <div class="hdca-product-box__main-purchase-action hdca-product-box__main-purchase-action--tool-rental">
              <button id="button-1384" class="hdca-button2 hdca-button2--tertiary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item">
                <span class="hdca-button2__label">View Details</span>
              </button>
            </div>
          </div>
        </section>
      </article>
    </div>
    <div class="hdca-product-box-container" itemscope="" itemtype="http://schema.org/Product">
      <article class="hdca-product-box">
        <section class="hdca-product-box__header">
          <div class="hdca-product-box__header-compare">
            <div class="hdca-form-field">
              <div class="hdca-form-field__container">
                <label class="hdca-form-field__wrap-label" for="default-123">
                  <div class="hdca-checkbox">
                    <input type="checkbox" id="default-123" name="default-123" class="hdca-checkbox__checkbox" />
                    <span class="hdca-checkbox__faux-checkbox"></span>
                  </div>
                  <span class="hdca-form-field__label-text">Compare</span>
                </label>
              </div>
            </div>
          </div>
          <a href="#" class="hdca-product-box__header-intro">
            <div class="hdca-product-box__header-intro-img-box">
              <img class="hdca-product-box__header-intro-img" src="/assets/images/products/product_1.jpg" alt="can not find image" itemprop="image" />
            </div>
          </a>
        </section>
        <section class="hdca-product-box__main">
          <div class="hdca-product-box__main-info">
            <link itemprop="url" href="#" />
            <a href="#" class="hdca-product-box__main-info-label hdca-product-box__main-info-label--link">
              <span class="hdca-product-box__main-info-label-entry hdca-product-box__main-info-label-entry--brand" itemprop="manufacturer">Home Decorators Collection</span>
              <span class="hdca-product-box__main-info-label-entry" itemprop="name">5.2 cu. ft. High-Efficiency Stackable Front-Load Washer in White</span>
            </a>
            <a href="#" class="hdca-product-box__main-info-detail hdca-product-box__main-info-detail--link">
              <div class="hdca-product-box__main-info-detail-entry">Model #
                <span itemprop="model">7L12X165/8045CL</span>
              </div>
              <div class="hdca-product-box__main-info-detail-entry">SKU #
                <span itemprop="sku">1121002632</span>
              </div>
            </a>
            <a href="#" class="hdca-product-box__main-info-placeholder">
              <span class="hdca-product-box__assistive-text">No Rating</span>
            </a>
          </div>
          <div class="hdca-product-box__main-purchase">
            <div class="hdca-product-box__main-purchase-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <span itemprop="priceCurrency" content="CAD"></span>
              <link itemprop="itemCondition" href="http://schema.org/NewCondition" content="New" />
              <div class="hdca-product-box__main-purchase-price-entry">
                <span class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">$
                  <span itemprop="price">41.48</span>
                </span>
                <span class="hdca-product-box__main-purchase-price-entry-content"> / case</span>
              </div>
            </div>
            <div class="hdca-product-box__main-purchase-action hdca-product-box__main-purchase-action--tool-rental">
              <button id="button-1385" class="hdca-button2 hdca-button2--primary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item">
                <span class="hdca-button2__label">Add To Cart</span>
              </button>
            </div>
          </div>
        </section>
      </article>
    </div>
    <div class="hdca-product-box-container" itemscope="" itemtype="http://schema.org/Product">
      <article class="hdca-product-box">
        <section class="hdca-product-box__header">
          <div class="hdca-product-box__header-compare">
            <div class="hdca-form-field">
              <div class="hdca-form-field__container">
                <label class="hdca-form-field__wrap-label" for="default-124">
                  <div class="hdca-checkbox">
                    <input type="checkbox" id="default-124" name="default-124" class="hdca-checkbox__checkbox" />
                    <span class="hdca-checkbox__faux-checkbox"></span>
                  </div>
                  <span class="hdca-form-field__label-text">Compare</span>
                </label>
              </div>
            </div>
          </div>
          <a href="#" class="hdca-product-box__header-intro">
            <div class="hdca-product-box__header-intro-img-box">
              <img class="hdca-product-box__header-intro-img" src="/assets/images/products/product_1.jpg" alt="can not find image" itemprop="image" />
            </div>
          </a>
        </section>
        <section class="hdca-product-box__main">
          <div class="hdca-product-box__main-info">
            <link itemprop="url" href="#" />
            <a href="#" class="hdca-product-box__main-info-label hdca-product-box__main-info-label--link">
              <span class="hdca-product-box__main-info-label-entry hdca-product-box__main-info-label-entry--brand" itemprop="manufacturer">Home Decorators Collection</span>
              <span class="hdca-product-box__main-info-label-entry" itemprop="name">5.2 cu. ft. High-Efficiency Stackable Front-Load Washer in White</span>
            </a>
            <a href="#" class="hdca-product-box__main-info-detail hdca-product-box__main-info-detail--link">
              <div class="hdca-product-box__main-info-detail-entry">Model #
                <span itemprop="model">7L12X165/8045CL</span>
              </div>
              <div class="hdca-product-box__main-info-detail-entry">SKU #
                <span itemprop="sku">1461002632</span>
              </div>
            </a>
            <a href="#" class="hdca-product-box__main-info-placeholder">
              <span class="hdca-product-box__assistive-text">No Rating</span>
            </a>
          </div>
          <div class="hdca-product-box__main-purchase">
            <div class="hdca-product-box__main-purchase-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
              <span itemprop="priceCurrency" content="CAD"></span>
              <link itemprop="itemCondition" href="http://schema.org/NewCondition" content="New" />
              <div class="hdca-product-box__main-purchase-price-entry">
                <span class="hdca-product-box__main-purchase-price-entry-content hdca-product-box__main-purchase-price-entry-content--primary">$
                  <span itemprop="price">41.48</span>
                </span>
                <span class="hdca-product-box__main-purchase-price-entry-content"> / case</span>
              </div>
            </div>
            <div class="hdca-product-box__main-purchase-action hdca-product-box__main-purchase-action--tool-rental">
              <button id="button-1386" class="hdca-button2 hdca-button2--tertiary hdca-button2--is-narrow hdca-product-box__main-purchase-action-item">
                <span class="hdca-button2__label">View Details</span>
              </button>
            </div>
          </div>
        </section>
      </article>
    </div>
  </div>
</section>